PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=emf
DB_PASSWORD=emf123
DB_NAME=codementor

SESSION_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:3000/auth/callback

OPENROUTER_API_KEY=
OPENROUTER_MODEL=
